.header .navbar-nav{
    font-size: 18px;
}
.header .navbar-inverse{
    padding: 15px;
}


.header .navbar-brand { 
    padding: 8px 15px;
    font-size: 18px;
}

.header .navbar-nav li{
    margin-right: 15px;
}

.header .navbar-inverse .navbar-nav>li>a:focus, .header .navbar-inverse .navbar-nav>li>a:hover  {
    color: lightsalmon;
    background-color: transparent;
}

.header .navbar-collapse .navbar-nav{
    text-transform: capitalize;
}

.header .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
    font-weight: 900;
}

 

.header .navbar-right .dropdown-menu>li>a{
    text-transform: none;
}



.header .navbar-right .btn-default{
    background-color: #000;
    margin-top: 8px;
  
}
.header .navbar-right li{
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 700;
    color:rgb(241, 241, 28);
    margin-right: 0;
   
}
.header .navbar-right .btn-group li a {
    color: yellow;
    text-decoration: none;
}